template(name="seeQuestionnaireResult")
	.container
		if currentUser
			h1 {{_ "questionnaireResult"}}
			each answer
				if scaleAnswer
					with resultForScaleAnswer
						if lowAnswer
							p #{answerLowAnswer}
						if midAnswer
							p #{answerMidAnswer}
						if highAnswer
							p #{answerHighAnswer}
				if yesNoAnswer
					with resultForYesNoAnswer
						if lowAnswer
							p #{answerLowAnswer}
						if midAnswer
							p #{answerMidAnswer}
						if highAnswer
							p #{answerHighAnswer}
				if qcmAnswer
					with resultForQCMAnswer
						if lowAnswer
							p #{answerLowAnswer}
						if midAnswer
							p #{answerMidAnswer}
						if highAnswer
							p #{answerHighAnswer}
		else
			+connect