template(name="myQuestionnaire")
	.container
		if currentUser
			if Template.subscriptionsReady
				each userQuestionsGroups
					if added
						if notAnsweredQuestions
							.card
								.card-content
									span.card-title {{_ "yourQuestionnaireIsNotOver"}}
									p {{_ "youStillHaveQuestionsToCompleteYourQuestionnaire" count=notAnsweredQuestions}}
								.card-action
									a.waves-effect.waves-light.btn(href="{{pathFor 'answerQuestions'}}") {{_ "go"}}
						else
							.card
								.card-content
									with questionnaireData
										span.card-title {{_ "yourQuestionnaireIsOver" title=title firm=company}}
								.card-action
									a.waves-effect.waves-light.btn(href="{{pathFor 'seeQuestionnaireResult'}}") {{_ "seeResult"}}
				if availableQuestionnaire
					h2 {{_ "availableQuestionnaires"}}
					.row
						each availableQuestionnaire
							.card
								.card-content
									span.card-title #{title}
									p {{_ "questionsCount" count=questionsCount}}
								.card-action
									a#addQuestionnaire.waves-effect.waves-light.btn(href="#") {{_ "addQuestionnaire"}}
				else
					.card
						.card-content
							span.card-title {{_ "addNewQuestionnaire"}}
							.input-field
								input#questionnaireId.validate(type="text" required)
								label(for="questionnaireId") {{_ "questionnaireIdForSignUp"}}
						.card-action
							a#addNewQuestionnaire.waves-effect.waves-light.btn(href="#") {{_ "addQuestionnaire"}}
			else
				+loader
		else
			+connect