template(name="seeUserResult")
	if Template.subscriptionsReady
		.row
			.col.s12
				ul.tabs
					each answerLevel4
						li.tab.col.s3
							a.active(href="##{_id}") #{title}
					each answerLevel3
						li.tab.col.s3
							a(href="##{_id}") #{title}
			each answerLevel4
				div(id="#{_id}").col.s12
					with resultForFinalScore
						if lowAnswer
							p.flow-text #{answerLowAnswer}
						if midAnswer
							p.flow-text #{answerMidAnswer}
						if highAnswer
							p.flow-text #{answerHighAnswer}
			each answerLevel3
				div(id="#{_id}").col.s12
					h3 #{title}
					with resultForAnswer
						if lowAnswer
							p.flow-text #{answerLowAnswer}
						if midAnswer
							p.flow-text #{answerMidAnswer}
						if highAnswer
							p.flow-text #{answerHighAnswer}
					each answersIdLinked
						with answerData
							.divider
							section
								h4 #{title}
								with resultForAnswer
									if lowAnswer
										p.flow-text #{answerLowAnswer}
									if midAnswer
										p.flow-text #{answerMidAnswer}
									if highAnswer
										p.flow-text #{answerHighAnswer}
								.container
									ul.collapsible.popout(data-collapsible="accordion")
										each answersIdLinked
											with answerData
												li
													.collapsible-header.flow-text(class="{{isActive @index}}") #{title}
													.collapsible-body
														with resultForAnswer
															if lowAnswer
																p.flow-text #{answerLowAnswer}
															if midAnswer
																p.flow-text #{answerMidAnswer}
															if highAnswer
																p.flow-text #{answerHighAnswer}
		script
			$('ul.tabs').tabs();
			$('.collapsible').collapsible({accordion: true});
	else
		+loader