template(name="seeUserResult")
	if Template.subscriptionsReady
		each answerLevel4
			h4 #{title}
			with resultForFinalScore
				if lowAnswer
					p.flow-text #{answerLowAnswer}
				if midAnswer
					p.flow-text #{answerMidAnswer}
				if highAnswer
					p.flow-text #{answerHighAnswer}
		each answerLevel3
			h5 #{title}
			with resultForLevel3
				if lowAnswer
					p.flow-text #{answerLowAnswer}
				if midAnswer
					p.flow-text #{answerMidAnswer}
				if highAnswer
					p.flow-text #{answerHighAnswer}
		each answerLevel1
			if scaleAnswer
				with resultForScaleAnswer
					if lowAnswer
						p.flow-text #{answerLowAnswer}
					if midAnswer
						p.flow-text #{answerMidAnswer}
					if highAnswer
						p.flow-text #{answerHighAnswer}
			if yesNoAnswer
				with resultForYesNoAnswer
					if lowAnswer
						p.flow-text #{answerLowAnswer}
					if midAnswer
						p.flow-text #{answerMidAnswer}
					if highAnswer
						p.flow-text #{answerHighAnswer}
			if qcmAnswer
				with resultForQCMAnswer
					if lowAnswer
						p.flow-text #{answerLowAnswer}
					if midAnswer
						p.flow-text #{answerMidAnswer}
					if highAnswer
						p.flow-text #{answerHighAnswer}
	else
		+loader