template(name="questionDetails")
	with question
		.container
			a#return.waves-effect.waves-light.btn {{_ "return"}}
			.card
				.card-content
					span.card-title #{title}
					.input-field
						input#title.validate(type="text" value="#{title}")
						label.active(for="title") {{_ "title"}}
					.input-field
						input#level.validate(type="number" step="1" min="1" value="#{level}")
						label.active(for="level") {{_ "level"}}
					p {{_ "displayType"}} : #{displayType}
					if rangeQuestion
						+collectionOfChoices
					if yesNoQuestion
						+collectionOfChoices
					if qcmQuestion
						ul.collection.with-header
							li.collection-header
								a#addChoice.waves-effect.waves-light.btn.right {{_ "addChoice"}}
								h6 {{_ "questionChoices"}}
							each choices
								li.collection-item
									.input-field
										input.validate(id="#{choiceId}" type="text" value="#{label}")
										label.active(for="#{choiceId}") {{_ "choiceLabel"}}
				.card-action
					a#saveQuestion.waves-effect.waves-light.btn {{_ "save"}}

template(name="collectionOfChoices")
	ul.collection.with-header
		li.collection-header
			h6 {{_ "questionChoices"}}
		each choices
			li.collection-item #{label}