template(name="questionDetails")
	.container
		if Template.subscriptionsReady
			with question
				a#return.waves-effect.waves-light.btn {{_ "return"}}
				.card
					.card-content
						span.card-title #{title}
						.input-field
							input#title.validate(type="text" value="#{title}")
							label.active(for="title") {{_ "title"}}
						.input-field
							input#level.validate(type="number" step="1" min="1" value="#{level}")
							label.active(for="level") {{_ "level"}}
						p {{_ "displayType"}} : #{displayType}
					.card-action
						a#updateQuestion.waves-effect.waves-light.btn(href="#") {{_ "save"}}
				if rangeQuestion
					+collectionOfChoices
				if yesNoQuestion
					+collectionOfChoices
				if qcmQuestion
					.card
						.card-content
							a#addChoice.waves-effect.waves-light.btn.right(href="#") {{_ "addChoice"}}
							span.card-title {{_ "questionChoices"}}
							.row
								each choices
									.col.s6
										.card
											.card-content
												.input-field
													input.validate(id="label-#{choiceId}" type="text" required value="#{label}")
													if label
														label.active(for="label-#{choiceId}") {{_ "choiceLabel"}}
													else
														label(for="label-#{choiceId}") {{_ "choiceLabel"}}
												.input-field
													input.validate(id="qcm-#{choiceId}" type="number" min="1" step="1" required value="#{qcmPoints}")
													if qcmPoints
														label.active(for="qcm-#{choiceId}") {{_ "choiceQCMPoints"}}
													else
														label(for="qcm-#{choiceId}") {{_ "choiceQCMLabel"}}
											.card-action
												a.saveChoice.waves-effect.waves-light.btn(href="#") {{_ "save"}}
		else
			+loader

template(name="collectionOfChoices")
	ul.collection.with-header
		li.collection-header
			h6 {{_ "questionChoices"}}
		each choices
			li.collection-item #{label}