template(name="listUsers")
	if Template.subscriptionsReady
		p.flow-text {{_"scoreMax" max=scoreMax}}
		.row
			each user
				.col.s12.m6.l4
					.card.hoverable
						.card-content
							span.card-title #{name}
							each emails
								p.truncate #{address}
							if added
								with questionsGroup
									p {{_ "numberOfQuestionsAnswered" count=nbAnswered onCount=nbQuestions}}
							else
								p {{_ "userStillNotAddedQuestionGroup"}}
							p {{_ "currentScore"}} : #{currentScore}
						if isDone
							.card-action
								a.goSeeResult.waves-effect.waves-light.btn(href="#") {{_ "seeDetails"}}
			else
				h3 {{_ "noUsers"}}
		.fixed-action-btn
			a#downloadCSV.waves-effect.waves-light.btn(href="#")
				i.material-icons.left file_download
				| {{_ "download"}}
	else
		+loader